@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --text: #101619;
    --my-primary: #5598b7;
    --secondary: #94c4db;
    --accent: #6bb5d8;
    --borders-and-shadows: #ccc;

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --text: #e6ecef;
    --background: #12181c;
    --foreround: #1e262a;
    --my-primary: #4889a8;
    --secondary: #24546b;
    --accent: #287295;
    --borders-and-shadows: #2d393f;

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

html {
  font-size: larger;
}
body {
  color: var(--text);
  margin: 0;
  padding: 0;
}

/* ========== Base Styles ========== */

/* ========== Layout Containers ========== */
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 5px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  padding: 5px 0;
  margin: auto;
}

/* ========== Product Cards ========== */
.product_card {
  border: 1px solid var(--borders-and-shadows);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--foreround);
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 5px 2px;
}

.img_container {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img_container img {
  width: 100%;
}

.name {
  font-size: 14px;
  font-weight: 700;
}

.cost {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45a049;
}
.cost::after {
  content: " SDG";
}

.category {
  font-size: 12px;
  font-weight: 500;
  color: #777;
}

.details {
  display: none;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.btn_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5px;
}

/* ========== Buttons ========== */

.cancel_btn {
  background-color: #777;
  color: white;
  padding: 7px;
  padding-bottom: 0;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.cancel_btn:hover {
  background-color: #555;
}

/* ========== Forms ========== */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="number"],
select {
  padding: 8px;
  border: 1px solid var(--borders-and-shadows);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.add_form,
.update_form {
  font-size: small;
  margin: 5px auto;
  width: 95%;
  background-color: var(--foreround);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--borders-and-shadows);
  border-radius: 8px;
}

.searchform {
  font-size: 12px;
  margin: auto;
  width: 99%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  border-radius: 8px;
  background-color: var(--foreround);
  border: 1px solid var(--borders-and-shadows);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.searchform input[type="text"] {
  width: 100%;
  border: none;
  outline: var(--borders-and-shadows);
  box-shadow: none;
}
.searchform .submitBtn {
  background-color: #45a049;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  padding: 8px;
  margin: 3px;
  display: flex;
  gap: 5px;
}

/* ========== Tables ========== */
table {
  font-size: 14px;
  width: 97%;
  border-collapse: collapse;
  margin: 5px auto;
  background-color: var(--foreround);
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--borders-and-shadows);
  border-radius: 3px;
  overflow: hidden;
}
.table_header {
  background-color: var(--my-primary);
  background: -webkit-linear-gradient(45deg, #1a79a4, #0882ba);
  cursor: default;
}

.table_header td {
  color: white;
  font-weight: 500;
  padding: 8px;
}
.td_cost {
  color: #069a0d;
  font-size: 12px;
  font-weight: 500;
}
tr {
  border-bottom: 1px solid var(--borders-and-shadows);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
td {
  padding: 15px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ========== Navigation ========== */
nav {
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: -webkit-linear-gradient(45deg, #1a79a4, #0882ba);
}
nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 3px;
  margin-right: 5px;
}
.add_product_link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  background-color: #45a049;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.add_product_link:hover {
  background-color: #4caf50;
}
.logo {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  /* text gradaint */
  /* background: -webkit-linear-gradient(45deg, #5598b7, #6bb5d8); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

/* ========== Categories ========== */
.cat_con {
  margin-top: 5px;
  border: 1px solid var(--borders-and-shadows);
  border-top: 1px solid;
  padding-top: 5px;
}
.cat_con .cat_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--borders-and-shadows);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3px;
  border-radius: 5px;
  padding: 5px;
}
.cat_con .cat_card:hover {
  background-color: #eee;
}

/* ========== Product Details ========== */
.product_d_card {
  background-color: var(--foreround);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.product_d_card .product_d_img {
  object-fit: cover;
}
.product_d_card img {
  aspect-ratio: 16/9;
  width: 100%;
}

/* ========== Responsive ========== */
@media screen and (min-width: 600px) {
  .product_card {
    width: 30%;
  }
  .product_card .img_container {
    height: 200px;
  }
  .list,
  .product_d_card,
  table {
    max-width: 800px;
    margin-inline: auto;
  }
  form {
    max-width: 400px;
  }
}

/* ========== Error Messages ========== */
.error_msg {
  font-size: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid red;
  color: #ff2424;
  background-color: #ff24243d;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
