@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --text: #101619;
    --background: #f9fbfc;
    --primary: #5598b7;
    --secondary: #94c4db;
    --accent: #6bb5d8;
  }
}
/* @media (prefers-color-scheme: light) {
  :root {
    --text: #e6ecef;
    --background: #030607;
    --primary: #4889a8;
    --secondary: #24546b;
    --accent: #287295;
  }
} */

html {
  font-size: larger;
}
body {
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

/* ========== Base Styles ========== */

/* ========== Layout Containers ========== */
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 5px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  padding: 5px 0;
  margin: auto;
}

/* ========== Product Cards ========== */
.product_card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--background);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 5px 2px;
}

.img_container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
}

.img_container img {
  width: 100%;
}

.name {
  font-size: 14px;
  font-weight: 700;
}

.cost {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45a049;
}
.cost::after {
  content: " SDG";
}

.category {
  font-size: 12px;
  font-weight: 500;
  color: #777;
}

.details {
  display: none;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.btn_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5px;
}

/* ========== Buttons ========== */
.dlt_btn {
  font-size: small;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dlt_btn:hover {
  /* background-color: #da190b69; */
  opacity: 90%;
}

.edit_btn {
  border-radius: 5px;
  background-color: var(--primary);
  padding: 2px 5px;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit_btn:hover {
  background-color: var(--accent);
}

.cancel_btn {
  background-color: #777;
  color: white;
  padding: 7px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
.cancel_btn:hover {
  background-color: #555;
}

/* ========== Forms ========== */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="number"],
select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

.add_form,
.update_form {
  margin: auto;
  width: 95%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
}

.searchform {
  margin: auto;
  background-color: #fff;
  width: 95%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
}
.searchform input[type="text"] {
  width: 100%;
}

/* ========== Tables ========== */
table {
  font-size: 12px;
  width: 95%;
  border-collapse: collapse;
  margin: 5px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  /* overflow: hidden; */
}
.table_header {
  background-color: var(--primary);
}
.table_header:hover {
  background-color: var(--accent);
}
.table_header td {
  color: white;
  font-weight: 500;
  padding: 8px;
}
tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
td {
  padding: 6px;
}

/* ========== Navigation ========== */
nav {
  background-color: var(--background);
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: -webkit-linear-gradient(45deg, #1a79a4, #0882ba);
}
nav a {
  text-decoration: none;
  font-size: 14px;
  padding: 3px;
  margin-right: 5px;
  color: var(--background);
}
.add_product_link {
  color: white;
  text-decoration: none;
  font-size: 12px;
  background-color: #45a049;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.logo {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--background);
  /* text gradaint */
  /* background: -webkit-linear-gradient(45deg, #5598b7, #6bb5d8); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

/* ========== Categories ========== */
.cat_con {
  margin-top: 5px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}
.cat_con .cat_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3px;
  border-radius: 5px;
  padding: 5px;
}
.cat_con .cat_card:hover {
  background-color: #eee;
}

/* ========== Product Details ========== */
.product_d_card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.product_d_card .product_d_img {
  object-fit: cover;
}
.product_d_card img {
  aspect-ratio: 16/9;
  width: 100%;
}

/* ========== Responsive ========== */
@media screen and (min-width: 600px) {
  .product_card {
    width: 30%;
  }
  .product_card .img_container {
    height: 200px;
  }
  .list,
  .product_d_card,
  table {
    max-width: 800px;
    margin-inline: auto;
  }
  form {
    max-width: 400px;
  }
}

/* ========== Error Messages ========== */
.error_msg {
  font-size: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid red;
  color: #ff2424;
  background-color: #ff24243d;
}
